<div class="pure-g">
	<div class="pure-u-1-5 light-grey-background height100"> </div>
	<div class="pure-u-3-5 blue-background height100">

		<div class="page-header">
			<h1>Sign Up!</h1>
		</div>
		
			<%= form_for @user, html: {class: "pure-form pure-form-aligned"} do |f|%>
			<% if @user.errors.any? %>
			<div class="alert alert-danger">
				<strong>
					<%= pluralize(@user.errors.count, "error") %>
					prevented you from signing up:
				</strong>
				<ul>
					<% @user.errors.full_messages.each do |msg| %>
						<li><%= msg %></li>
				<% end %>
				</ul>
			</div>
			<% end %>
			<fieldset>
					<div class="pure-control-group">
						<%= f.label :email %>
						<%= f.email_field :email  %>
					</div>

					<div class="pure-control-group">
						<%=  f.label :password %>
						<%= f.password_field :password %>
					</div>

					<div class="pure-control-group">
						<%= f.label :password_confirmation %>
						<%= f.password_field :password_confirmation %>
						<%= f.submit "Submit", class: "pure-button pure-button-primary"%>
					</div>
				<% end %>
			</fieldset>
	</div>
	<div class="pure-u-1-5 light-grey-background height100"> </div>
</div>