<div class="h10"></div>
<div class="airbnb_places container">
  <img class="resize-icon text-center" src="https://raw.githubusercontent.com/cghil/widget_app/master/public/airbnb_symbol.png">
  <div class="airbnb-search-form text-center">
    <%= form_for airbnbs_find_path, url: {action: 'find', controller: 'airbnbs'}, class: "pure-form pure-form-stacked" do |f|%>
    <%= f.label :search_city %>
    <%= f.text_field :search_city, class: "input-airbnb-search" %>
    <%= f.label :search_country %>
    <%= f.text_field :search_country, class: "input-airbnb-search" %>
    <%= f.submit "search", class: 'pure-button pure-button-active button-large pure-button-primary' %>
    <% end %>
  </div>
  <h1 class="text-center">Travel. Airbnb.</h1>
  <% airbnb_results= Airbnb.get_rentals %>
  <% # photos = airbnb_results[:photos] %>
  <% city = airbnb_results[:city] %>
  <% city = city.gsub(/--/, " ") %>
  <% city = city.gsub(/ /, ", ") %>
  <% urls = airbnb_results[:urls] %>
  <% photos = airbnb_results[:photos] %>
  <% prices = airbnb_results[:prices] %>
  <h2 class="text-center"><%= city %></h2>
  <%(0..17).each do |place| %>
    <div class="room">
      <span class="price text-center"> <b>$<%= prices[place] %></b> </span>
      <a href="https://www.airbnb.com<%=urls[place]%> "> <img class="resize thumbnail"src="<%=photos[place]%> "></a>
    </div>
  <% end %>
</div>