<div class="h2"></div>
<div class='remove opacity'>
  <i class="fa fa-close fa-lg close-and-remove"></i>
</div>
<div class="text-center">
  <%= form_for recipe_search_path, url: {action: 'search', controller: 'recipe' }, class: "pure-form" do |f| %>
    <%= f.label :Find_recipe, class: "" %>
    <%= f.text_field :search, class: 'input-recipe-search' %>
    <%= f.submit "Search", class: 'pure-button pure-button-active search-button button-large' %>
  <% end %>
</div>

<h3 class="text-center recipe-title">
  Click A Recipe
</h3>

<div class="recipes">
  <% @recipes= Recipe.get_recipe %>
    <% recipes = @recipes['recipes'] %>
    <% recipes.each do |recipe| %>
    <p class="text-center"> <%= recipe['title'] %> </p>
    <a href="<%= recipe['source_url']%>">
      <img class="margin-bottom margin-left-15 resize thumbnail text-center" src="<%= recipe['image_url'] %>"/>
    </a>
  <% end %>
</div>
